<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<style>
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: black;
        cursor: pointer;
    }

    a:active{
        color: lightskyblue;
    }
   
</style>

<style>
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: #3a414a;
        cursor: pointer;
    }
   
</style>
<body>
    <nav style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
        <div><a href="http://127.0.0.1:8000/">logo</a></div>

        <div style="width: 300px;">
            <ul style="display: flex;justify-content: space-between;">
                <li><a href="http://127.0.0.1:8000/">Home</a></li>
                <li><a href="http://127.0.0.1:8000/about">About</a></li>
                <li><a href="http://127.0.0.1:8000/how">How it works</a></li>
            </ul>
        </div>

        <div>
            <button type="button" style="border-radius: 12px;height: 32px;width: 120px;cursor: pointer;">Get Started</button>
        </div>
    </nav>
    <div style="border: 1px black solid;"></div>


    <main style="display: flex;flex-direction: row;justify-content: center;align-items: center;gap: 300px;height: 85vh;">

        <section style="width: 410px; display: flex;flex-direction: column;">

            <div>
                <h2>
                    About Us - CandiDar
                </h2>
                <p>
                    CandiDar is a Moroccan platform offering unlimited  interview practice. Inspired by the concept of home, a place of safety and support in Moroccan culture, CandiDar combines Candi (Candidate) and Dar (home in Arabic). We provide a nurturing space where candidates can practice, learn from mistakes, and build confidence at their own pace—anytime, anywhere.
                </p>
            </div>
    
            <div>
                <h2>
                    Our vision
                </h2>
                <p>
                    To empower Moroccan graduates by offering a platform for mock interviews and constructive feedback, helping them secure their dream job amidst the challenges of the Moroccan job market.
                </p>
            </div>

        </section>

        <section style="display: flex;flex-direction: row;gap: 20px;justify-content: center;align-items: center;">
            <div style="padding: 12px; display: flex;justify-content: center;align-items: center;flex-direction: column; background-color:rgb(240, 128, 128,0.5);border-radius: 12px;height: 115px;width: 150px;">
                <p style="text-align: center;"> <span style="color: #ffd9d9;"><b>90k+ Grads/Year</b> </span><br>High talent production </p>
            </div>
            <div style="display: flex;flex-direction: column;gap: 20px;">
                <div style="display: flex;flex-direction: column;justify-content: center;align-items: center; background-color: rgb(144, 238, 144,0.5);border-radius: 12px;text-align: center;height: 100px;width: 195px;">
                    <p><b style="color: #dedeff;">25.9% Unemployment</b> Graduate integration crisis</p>
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;align-items: center; background-color: rgb(211, 211, 211,0.5);border-radius: 12px;text-align: center;height: 100px;width: 195px;">
                    <p><b style="color: #c3f7c8;">70% Graduates</b><br>Lack Interview Skills</p>  
                </div>
            </div>

        </section>

        


    </main>


    
    
</body>
</html>