<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<style>
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: #3a414a;
        cursor: pointer;
    }
   
</style>
<body>
    <nav style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
        <div><a href="http://127.0.0.1:8000/">logo</a></div>

        <div style="width: 300px;">
            <ul style="display: flex;justify-content: space-between;">
                <li><a href="http://127.0.0.1:8000/">Home</a></li>
                <li><a href="http://127.0.0.1:8000/about">About</a></li>
                <li><a href="http://127.0.0.1:8000/how">How it works</a></li>
            </ul>
        </div>

        <div>
            <button onclick="triggerLink()" type="button" style="border: 2px #3a414a solid; border-radius: 20px;height: 32px;width: 120px;cursor: pointer;">Get Started</button>
        </div>
        <script>
            function triggerLink() {
        window.location.href = "http://127.0.0.1:8000/start";
        }
        </script>
    </nav>
    <div style="border: 1px #3a414a solid;"></div>

    <main style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
        <section style="width: 600px;display: flex;flex-direction: column;">
            <h1 id="title_main" style="width: 500px;text-align: center; height: 30px;"></h1>
            <h3 style="width: 600px;text-align: center;">Whether you’re just starting or looking to level up, CandiDar offers unique tools to practice, improve, and excel in every interview. Take control of your future today!</h3>
        </section>
        <section style="display: flex;flex-direction: column;gap: 20px; justify-content: center;align-items: center;">
           
            <button onclick="triggerLink()" type="button" style="border: 2px #3a414a solid; border-radius: 20px;height: 32px;width: 120px;cursor: pointer;">Get Started</button>
           
            <div style="border: 2px #3a414a solid; width: 255px;height: 250px;border-radius: 12px;">
                <div style="margin: 0px 10px; display: flex;flex-direction: row;justify-content: space-between;">
                    <h3>logo</h3>
                    <h3><img src="https://cdn-icons-png.freepik.com/256/9777/9777339.png?ga=GA1.1.412377053.1731138302&semt=ais_hybrid" alt="" srcset="" width="32px" height="32px"></h3>
                </div>

                <div>
                    <div style="height: 30px; font-size: 12px; margin: 20px;margin-left: 50px; width: 200px; border-radius: 12px;background-color: #dedeff; display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;">
                        Ready to nail your interview? Candi Dar’s got you!
                    </div>
    
                    
                    <div style="margin-right: 100px; gap: 8px; display: flex;flex-direction: row;justify-content: center;align-items: center;">
                        <div style="border: 2px #3a414a solid;height: 25px;width: 25px;border-radius: 15px;"></div>
                        <div style="height: 30px; background-color: #dedeff;border-radius: 12px;height: 25px;width: 110px;text-align: center;font-size: 12px;display: flex;flex-direction: column;justify-content: center;align-items: center;">
                            I’m feeling anxious.
                        </div>

                    </div>
    
                    <div style="height: 30px; font-size: 12px; margin: 20px;margin-left: 50px; width: 190px; border-radius: 12px;background-color:#dedeff;display: flex;justify-content: center;align-items: center;text-align: center;">
                        I’ll help you prepare and build your confidence!
                    </div>
    
                </div>

            </div>
        </section>
    </main>


    <script>
        const title = document.querySelector("#title_main");
        let texte = "CandiDar: The Home for Ambitious Candidates in Morocco";
    
        function randtime(max, min) {
            return Math.floor(Math.random() * (max - min) + min);
        }
    
        let index = 0;
        let timer;
    
        function display() {
            let message = texte.slice(0, index);
            if (index >= texte.length) {
                index = 0;
            }
            title.innerHTML = message;
            index++;
    
            // Redémarrer l'intervalle avec un temps aléatoire
            clearInterval(timer);
            timer = setInterval(display, randtime(50, 300));
        }
        display();
        // Initialiser le premier intervalle
        timer = setInterval(display, 300);
    </script>
    
</body>
</html>